services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movies_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata: